.todo-container {
  padding: 25px 40px;
}

.todo-container li {
  list-style: none;
  padding: 10px;
  border-top: #CCC 1px solid;
}

.todo-add-control {
  position: relative;
  width: 80%;
  max-width: 600px;
  min-width: 200px;
  margin: 0 auto;
}

.todo-add-control input {
  border: #CCC 1px solid;
  border-radius: 10px;
  padding: 8px 10px;
  width: calc(100% - 20px);
  max-width: 600px;
  min-width: 200px;
}

.todo-add-control button {
  cursor: pointer;
  background: #0084ff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  width: 34px;
  height: 34px;
}
